@import url('https://fonts.googleapis.com/css2?&family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Poppins:wght@400;700&display=swap');


.empty-container{
    height: 10px;
}

.fast-heading{
    color: #FF7E00;
    font-weight: 700;
}

.food-delivery-heading{
    color: #2F2F2F;
    font-weight: 700;
}

.food-description{
    color: #909090;

}

/* .banner-button-section{
    margin-bottom: 90px;
} */

.order-now-btn{
    border-radius: 84px;
    background: #2F2F2F;

}
.play-icon{
    background: #FFF8F0;
box-shadow: 0px 20px 36px -16px rgba(0, 0, 0, 0.1);

}
.watch-btn{
    color: #2F2F2F;
    font-weight: 600;
}

.banner-img{
    width: 90%;
    margin-bottom: 91px;
}

.star-img{
    color:#FEBB41;
    margin-right: 10px;
}

.rating-text{
   font-size: 18px;
   line-height: 25px;
   width: 250px;
   height: 53px;
   font-weight: 600;

}

.rating-text span{
    color:#909090;
    font-weight: 300;
}

.todays-section >* {
    font-family: "Inter";
}
.todays-section h2{
    /* font-family: "Inter"; */
    font-weight: 700;
}
.todays-section ul li{
    list-style-type: none;
}
.receipe-img{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 0px 10px;
    width: 100%;
}
 .small-img{
    background: rgba(255, 255, 255, 0.7);
    
    
}

@media screen and (min-width: 992px){
    .fast-heading{
        font-size: 125px;
       
    }
    .food-delivery-heading{
        font-size: 52px;
      
    }
    .receipe-img{
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 10px 0px 10px;
        width: 475px;
        height: 491px;
    }
    .small-img{

        width: 474px;
        height: 87px;
        
    }

}
