@import url('https://fonts.googleapis.com/css2?&family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins';
}


.navbar{
    background: linear-gradient(#F4ECE1 100%, #FCFBF7 100%)
}

.logo{
    width:32px;
    height: 32px;
}

.navbar-brand{
    font-weight: 600;
    font-size: 32px;
}

.navigation-links a{
    color:  #000000 !important;
    
    font-weight: 400;
    
}

.search-bar{
    padding-left: 10px;
    width:100%;
}

.search-input{
    /* width: 50%; */
}

.search-bar input:focus{
    box-shadow: none !important;
    /* transform: scaleX(1.5); */
}

.search-bar{
    position: relative;

}

.search-bar::after{
    content: '';
    position: absolute;
    background-color: #948C8CB3;
    width: 1px;
    height: 50%;
    right: 30%;
}


@media screen and (min-width: 1200px){
    .navigation-links a{
      
        font-size: 22px;
        font-weight: 400;
        margin-left: 10px;
    }
}
